.hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#picture {
    max-width: 250px;
    height: auto;
    margin-top: 53px;
    border-radius: 13px;
}

#title {
    font-size: 19px;
}

#district {
    margin-top: 4%;
    margin-bottom: -22px;
    font-size: 17px;
}

#description {
    font-size: 16px;
    margin-top: 5%;
    width: 43%;
}

#button-share {
    width: 150px;
    height: 30px;
    border: none;
    color: black;
    background-color: #8bc34a;
    border-radius: 11px;
    font-size: 15px;
    outline: none;
    margin-left: 7%;
    margin-top: 2%;
}
#button-share:hover {
    width: 150px;
    height: 30px;
    background-color: #5a9216;
    color: white;
}

#rating {
    display: flex;
    flex-direction: row;
}