@import '../../pages/Presentation/Presentation.scss';

.hotel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    border-radius: 6%;
    box-shadow: 5px 5px 15px;
    padding-bottom: 5%;
    width: 40vw;
    margin-left: 12%;
    margin-top: 9%;
    background-color: $light-green;
}

#picture {
    position: relative;
    max-width: 200px;
    height: auto;
    margin-top: 34px;
    border-radius: 13px;
    border: 2px solid;
}

#title {
    font-size: 17px;
    margin: 5% 10%;
}

#district {
    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 16px;
}

.rating {
    margin-left: 5%;
}

#description {
    font-size: 1em;
    margin: 3% 9%;
}

#button-share {
    width: 57%;
    height: 38px;
    border: none;
    color: black;
    background-color: $cream;
    border-radius: 11px;
    font-size: 15px;
    outline: none;
    border: 2px solid;

    &:hover {
        color: white;
        background-color: $dark-gray;
        cursor: pointer; 
    }
}

#rating {
    display: flex;
    flex-direction: row;
}

@media (min-width: 46.875rem) {
    .hotel-card {
        width: 37vw;
        margin: 7% 30%;
    }
}