.login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 16%;
    font-size: 18px;
}

#login-title {
    margin-left: 34%;
    margin-top: 23%;
    font-size: 2.5rem;
}

#email-l {
    margin-right: 42%;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.2em;
}
#email-l::after {
    content: '*';
    color: red;
}

#password-l {
    margin-right: 31%;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.2em;
}
#password-l::after {
    content: '*';
    color: red;
}

#login-btn {
    margin-top: 14%;
    width: 150px;
    height: 40px;
    border: none;
    color: black;
    background-color: #8bc34a;
    border-radius: 11px;
    font-size: 22px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}

#to-signup {
    margin-top: 15%;
    margin-left: 14%;
    font-size: 1.2rem;
}