/* body {
    background-color: rgb(213, 213, 213);
} */
.presentation-logo{
    max-width: 310px;
    margin-left: 33px;
    height: auto;
    border-radius: 50%;
}

text {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: 2px solid grey; */
}


.project {
    font-weight: bold;
    margin-left: 121px;
}