/* body {
    background-color: rgb(213, 213, 213);
} */
.presentation-logo{
    max-width: 376px;
    height: auto;
}

text {
    display: flex;
    flex-direction: row;
    text-align: center;
    /* border: 2px solid grey; */
}


.project {
    font-weight: bold;
}