.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
}

#search {
    width: 76vw;
    height: 22px;
    border-radius: 6px;
}

#separation {
    margin-top: 4%;
    margin-right: 22%;
    font-size: 1rem;
}

#filter-district {
    width: 25vw;
    border-radius: 3px;
    background-color: white;
}

#filter-category {
    width: 22vw;
    border-radius: 3px;
    background-color: white;
}

#action-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

#search-btn {
    padding: 1.5% 6%;
    border-radius: 11px;
    color: black;
    background-color: #8bc34a;
}

#remove {
    padding: 1.5% 6%;
    border-radius: 11px;
    color: black;
    background-color: #8bc34a;
}