@import '../../pages/Presentation/Presentation.scss';

.navbar {
    background-color: $dark-green;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    height: 80px;
}

.logo {
    max-width: 73px;
    height: auto;
    border-radius: 50%;
    margin-top: 3px;
    border: 2px solid black;
    cursor: pointer;
}

.clickable-buttons {
    display: flex;
    display: flex;
    margin-right: 30%;
}

.navbar-button {
    margin-top: 29px;
    width: 75px;
    height: 25px;
    border: none;
    color: black;
    border: 1px solid black;
    background-color: #b7b7b7;
    border-radius: 8px;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $dark-gray;
        color: white;
    }
}

#signup {
    margin-left: 240%;
    border: 1px solid black;
}

.username-name {
    font-size: 1.2em;
    margin-top: 26px;
    background: #fff;
    padding: 5px 26px;
    border-radius: 53%;
}

#navbar-logout {
    margin-top: 30px;
    width: 58px;
    height: 25px;
    border: 1px solid black;
    color: black;
    background-color: #ee5841;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}
