.signup-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 16%;
    font-size: 18px;
}

#signup-title {
    margin-left: 34%;
    margin-top: 23%;
}

#username-s {
    margin-right: 30%;
    margin-bottom: 3px;
    font-size: 1.2em;
}

#email-s {
    margin-right: 39%;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.2em;
}
#email-s::after {
    content: '*';
    color: red;
}

#password-s {
    margin-right: 29%;
    margin-top: 20px;
    margin-bottom: 3px;
    font-size: 1.2em;
}
#password-s::after {
    content: '*';
    color: red;
}

#input-form {
    border-radius: 16px;
    width: 62%;
    height: 28px;
}

#signup-btn {
    margin-top: 14%;
    width: 150px;
    height: 40px;
    border: none;
    color: black;
    background-color: #8bc34a;
    border-radius: 11px;
    font-size: 22px;
    outline: none;
    border: 1px solid black;
}

#error-messages {
    color: red;
    margin-top: 5%;
}

#to-login {
    margin-top: 15%;
    margin-left: 14%;
    font-size: 1.2rem;
}